<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SQLDRS" connectionString="SERVER=Wisdom;UID=iusr_prism;PWD=iusr_prism;DATABASE=SQLDRS;Max Pool Size = 100;"/>
  </connectionStrings>
</configuration>