<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="FDLAXSQLBI01" connectionString="SERVER=FDLAXSQLBI01;UID=IUSR_PRISM;PWD=IUSR_PRISM;DATABASE=PresenceAPI;Max Pool Size = 100;"/>
  </connectionStrings>
</configuration>